<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Add Bootstrap CSS and Scrollspy JavaScript -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js" integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous"></script>

<style>
    body {
        background: linear-gradient(rgba(0, 0, 0, 0.5), #009688);
        min-height: 100vh;
        margin-top: 100px;
        margin-bottom: 0px; 
        color: white; /* Optional: Set text color to contrast with the background */
    }
</style>

</head>
<body>

<form action="/admin/deleteservices" method="POST">
  <div class="container">
    <h1>Delete Services</h1>
    <% services.forEach(function(service) { %>
      <div class="card mb-3">
        <div class="card-body">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" name="selectedServices" value="<%= service._id %>">
            <label class="form-check-label">
              <h5 class="card-title"><%= service.name %></h5>
              <p class="card-text">Price: Ksh <%= service.price %></p>
            </label>
          </div>
        </div>
      </div>
    <% }); %>
  </div>
  <div class="text-center">
    <button type="submit" class="btn btn-danger">Delete Selected Services</button>
  </div>
</form>
</body>
</html>

